@using Blazored.SessionStorage
@using PeakyFlow.Aspire.Web.Components.Pages.Starter
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject ISessionStorageService SessionStorage
@inject DialogService DialogService

<RadzenComponents @rendermode="InteractiveServer" />
<div class="starter">
    <div class="starter-block">
        <div class="starter-details">
            <h1 class="name-app">Peaky Flow</h1>
            <div class="starter-img"></div>
            <RadzenButton Size="ButtonSize.Large"
                          Text="Play"
                          ButtonStyle="ButtonStyle.Primary"
                          class="btn-play"
                          Click="ScrollPage" />
        </div>
    </div>
</div>
<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                <RadzenLabel Text="Peaky Flow"/>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" />
            <RadzenPanelMenuItem Text="Users" Icon="account_box" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
<div class="page">
    <main>
        @Body
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
    </RadzenBody>
</RadzenLayout>




@code {
    bool sidebar1Expanded = true;

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        var name = await SessionStorage.GetItemAsStringAsync("lobbyPlayerName");
        
        if (string.IsNullOrEmpty(name))
        {
            var dialogResult = await DialogService.OpenAsync<WhatIsYourNamePopupPage>("Welcome");
            if (dialogResult?.NameCreated ?? false)
            {
                await SessionStorage.SetItemAsStringAsync("lobbyPlayerName", dialogResult.Name);
            }
        }

        await JS.InvokeVoidAsync("scrollYByVh");
    }

    private async Task ScrollPage()
    {
        await JS.InvokeVoidAsync("scrollYByVh");
    }
}
