@page "/"
@inject NavigationManager Navigation

<PageTitle>Blood &amp; Balance</PageTitle>

<div class="splash-container">
    <h1 class="splash-title">BLOOD &amp; BALANCE</h1>
    <img src="LogoBNB.png" alt="Blood and Balance" class="splash-logo" width="260" height="260" />

    <button class="btn-play" @onclick="GotoProfession">ГРАТИ</button>

    <button class="btn-secondary" @onclick="OpenDonationLink">ПІДТРИМАТИ</button>
    <button class="btn-secondary">ПРО НАС</button>
</div>

@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;
    
    private void GotoProfession()
    {
        NavigationService.NavigateTo("/profession");
    }
    
    private async Task OpenDonationLink()
    {
        await JSRuntime.InvokeVoidAsync("open", "https://send.monobank.ua/jar/7tFXD9ivHu", "_blank");
    }
}
