@page "/"
@using PeakyFlow.Aspire.Web.Components.Services
@attribute [StreamRendering(true)]

@inject LobbyRpcServiceClient LobbyService
@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject JoinLobbyService JoinLobbyService

<PageTitle>Home</PageTitle>

<section class="home-section">
    <div class="home-header">
        <h2 class="home-title">Open Lobbies</h2>
        <div class="home-actions">
            <RadzenButton Icon="refresh" ButtonStyle="ButtonStyle.Light" Click="RefreshLobbies"/>
            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Primary" Click="GoToFormToCreate" Text="Create Lobby"/>
        </div>
    </div>

    <RadzenCard Style="padding:0; border:none; background:transparent;" class="lobbies-card">
        <RadzenDataGrid TItem="LobbyItem" Data="@lobbies" Class="lobbies-grid" Responsive="true" PageSize="10">
            <Columns>
                <RadzenDataGridColumn Property="Name" Title="Name" Width="150px" />
                <RadzenDataGridColumn Property="Created" Title="Created" FormatString="{0:yyyy-MM-dd}" Width="120px"/>
                <RadzenDataGridColumn Property="Owner" Title="Owner" Width="120px"/>
                <RadzenDataGridColumn Property="TeamSize"  Title="Team" Width="80px"/>
                <RadzenDataGridColumn Property="Id" Title="" Width="120px">
                     <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Info"
                                     Variant="Variant.Flat"
                                     Shade="Shade.Lighter"
                                     Click=@(() => JoinLobby(data))
                                     Text="Join" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
</section>

@code {

    private List<LobbyItem>? lobbies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshLobbies();
    }

    private async Task RefreshLobbies()
    {
        lobbies = (await LobbyService.ListLobbiesAsync(new ListLobbyMessage() { PaginationSkip = 0, PaginationCount = 100 }))
        .Lobbies
        .ToList();
    }

    public async Task JoinLobby(LobbyItem lobby)
    {
        var dialogResult = await DialogService.OpenAsync<DialogJoinLobbyPage>("Join Lobby", new Dictionary<string, object> ()
        {
            { "LobbyId", lobby.Id },
            { "LobbyName", lobby.Name }
        }, new DialogOptions()
        {
            Width = "500px",
            Height = "600px"
        });

        if (dialogResult is DialogJoinLobbyPage.CloseResult closeResult
            && closeResult.IsJoined)
        {
            NavigationManager.NavigateTo("Lobby");
        }
    }

    private async Task GoToFormToCreate()
    {
        var dialogResult = await DialogService.OpenAsync<DialogCreateLobbyPage>("Create Lobby", null, new DialogOptions()
        {
            Width = "500px",
            Height = "600px"
        });

        if (dialogResult is DialogCreateLobbyPage.CloseResult closeResult 
            && closeResult.IsCreated 
            && closeResult.Loddy.BaseResp.Status == ResultStatusMsg.Ok)
        {

            NavigationManager.NavigateTo("MyLobby");
        }
    }
}